




    <div class="row">
        <div class="col-6">
        <img src="@Model.ImageUrl" class="rounded float-start" alt="Mangler billede af BCDprodukt" class="product-img" style="max-width:500px; max-height:500px; width:auto; height:auto;" />
        <p class="card-text mb-1"><strong>Beskrivelse: </strong>@Model.Description </p>

        </div>
        <div class="col-6"> 
        <p class="card-text mb-1"><strong>Brand: </strong>@Model.Brand </p>
        <p class="card-text mb-1"><strong>Model: </strong>@Model.Model </p>
        <p class="card-text mb-1"><strong>Pris/dag: </strong> @Model.PricePrDay </p>
        </div>
    </div>